<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrZeGLNhognCmdpF6O8Bz3fAnyuxJeaWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>731754759414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.PlayfabPushNotificationExample</string>
	<key>PROJECT_ID</key>
	<string>playfabpushnotificationexample</string>
	<key>STORAGE_BUCKET</key>
	<string>playfabpushnotificationexample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731754759414:ios:b6d9072d967e811fced8d7</string>
</dict>
</plist>